
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-2-HiL {
  box-sizing: border-box;
  padding: 0rem 1.1rem 0.6rem 0.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #842b2b;
}
.frame-2-HiL .auto-group-kzb2-Dbz {
  margin-bottom: 2.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-kzb2-Dbz .pngwing-2-Zvk {
  margin: 12.2rem 2.3rem 0rem 0rem;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-kzb2-Dbz .pidecim-VpQ {
  margin: 0rem 3.8rem 24rem 0rem;
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.2102272542;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-kzb2-Dbz .pidecim-VpQ .pidecim-VpQ-sub-0 {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.frame-2-HiL .auto-group-kzb2-Dbz .pidecim-VpQ .pidecim-VpQ-sub-1 {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.frame-2-HiL .auto-group-kzb2-Dbz .anasayfa-mfS {
  margin: 12.1rem 6.5rem 0rem 0rem;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-kzb2-Dbz .hakkmzda-siU {
  margin: 12.1rem 6.5rem 0rem 0rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-kzb2-Dbz .iletiim-Pwi {
  margin-top: 12.1rem;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-krfv-KqN {
  margin-left: 2.6rem;
  width: calc(100% - 2.6rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-krfv-KqN .pidecim-serveni-2000-ylnda-seyyar-kamyonu-ile-balad-kaliteden-dn-vermeyen-anlay-ile-ok-ksa-srede-emeinin-karln-mehur-pideci-nvanyla-ald-aydn-ve-civar-halk-zeki-ustann-pidelerini-ok-beendi-zeki-ustann-bu-sektrde-baarl-olmasnn-en-nemli-nedeni-malzeme-kalitesini-her-daim-korumas-ve-rnn-meydana-getirilmesindeki-aamalarn-titizlikle-takip-edilmesi-oldu-pideci-zeki-usta-temizlik-titizlik-drstlk-damak-zevki-yresellik-gibi-pek-ok-zellii-iinde-toplayan-bir-kalite-anlay-ve-7-kiilik-profesyonel-ekibiyle-hizmet-vermektedir-seyyar-kamyonuyla-aydn-ve-evre-illerin-tm-ile-belde-ve-kylerindeki-dn-snnet-gibi-etkinliklerde-hizmeti-hala-devam-etmektedir-bununla-beraber-mterilerinin-youn-talebiyle-aydn-adnan-menderes-mahallesinde-pide-restorann-am-bulunmaktadr-pidelerin-lezzeti-ve-servis-kalitesi-hi-bir-frnla-kyaslanamaz-derecede-lezzetlidir-koulsuz-mteri-memnuniyeti-temel-prensibi-ile-aydn-pidesi-deyince-akla-gelen-ilk-pideci-olarak-istikrarl-bymesini-ve-lezzetlerini-herkese-tattrma-hedefini-sonuna-kadar-yrtecektir-zellikle-et-ve-et-mamulleri-belirledii-standartlara-uygun-ekilde-stn-kasap-tarafndan-zel-retim-yaplmaktadr-ev-ve-i-yerlerine-hzl-servisi-bulunmaktadr-20-dakikada-siparileriniz-teslim-edilir-salnz-zeki-usta-iin-nemlidir-bu-yzdendir-ki-hijyen-ve-kaliteli-malzeme-seimi-zeki-usta-pide-frn-iin-ilk-srada-yeralr-sizleri-de-bu-esiz-lezzetleri-tatmaya-davet-ediyoruz-4Y4 {
  margin: 0rem 23.8rem 4.7rem 0rem;
  max-width: 53.1rem;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-2-HiL .auto-group-krfv-KqN .x08000458919150c5a9e2346fee892bc6dc282-1-11N {
  width: 110.5rem;
  height: 63.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
